DATABASE_URL=""
DIRECT_URL=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
WABA_API_KEY=""
WABA_PHONE_NUMBER_ID=""
FAWRY_MERCHANT_CODE=""
FAWRY_SECURITY_KEY=""
